body, head{
	background:#FFA500;
}

header{
	
	padding: 20px 0;
	
}
.caixa{
	
	width: 940px;
	padding: 30px;



}
h1{
	text-decoration: none;
}
nav {
	
	position: absolute;
	top: 17px;
	right:50px ;
}
nav li{
	display: inline;
	margin: 0 0 0 15;

}

nav a{
	transition: 400ms;
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	padding: 20px;
}
nav a:hover{
	transition:400ms ;
	color: #FFDEAD;
	text-shadow:4px 4px 4px #000000;
}
.imagem1{
	padding-left: 28%;
	
}
h3{
	text-align: center;
}



.imgprincipal{
	width: 950px;
	margin: 2em auto;
}

p{
		font-family: 'Otomanopee One', sans-serif;
}
h4{
	font-size: 25px;
}
ul{
	font-size: 20px;
}
.youtube{
	display: flex;
	align-items: center;
	flex-direction:column ;
	
}
.texto-musicas{
	text-align: center;
}
